body{
  background-color: #030303;
}

style
p {
  font-weight: bolder;
}

p {
  text-align: center;
}

h1 {
  font-weight: bold;
}

h1 {
  text-align: center;
}

h2 {
  font-weight: bolder;
}

h2 {
  text-align: center;
}
